body {
  background-color: #8C1515; /* Vermelho temático do Dota 2 */
  color: #FFFFFF; /* Letras brancas */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  min-height: 100vh;
  padding: 20px;
}

#content {
  background-color: #000000; /* Preto */
  padding: 20px;
  text-align: center; 
  border-radius: 10px; /* Cantos arredondados */
}

h1 {
  font-size: 36px;
  margin-top: 20px;
}

p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px auto; /* Centraliza os parágrafos horizontalmente */
}

.button-container {
  text-align: center; /* Alinha os botões ao centro */
  margin-top: 20px; /* Espaçamento entre os parágrafos e os botões */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8C1515; /* Vermelho temático do Dota 2 */
  color: #FFFFFF; /* Cor das letras */
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #B51F1F; /* Cor de fundo mais escura quando o mouse passa por cima */
}

.description-box {
  background-color: #C81616; /* Vermelho mais claro */
  padding: 20px;
  border-radius: 10px; /* Cantos arredondados */
  text-align: center;
  margin-top: 20px; /* Espaço entre a caixa e o conteúdo acima */
}

h2 {
  font-size: 24px;
}

/* Estilos para a caixa de descrição */
.description-box p {
  font-size: 18px;
  max-width: 600px;
  margin: 20px auto;
}
