body {
  background-color: #8C1515;
  color: #FFFFFF; 
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  min-height: 100vh;
  padding: 20px;
}

#content {
  background-color: #000000; 
  padding: 20px;
  text-align: center; 
  border-radius: 10px; 
}

h1 {
  font-size: 36px;
  margin-top: 20px;
}

p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px auto; 
}

.button-container {
  text-align: center; 
  margin-top: 20px; 
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8C1515; 
  color: #FFFFFF; 
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #B51F1F;
}

.description-box {
  background-color: #C81616; 
  padding: 20px;
  border-radius: 10px; 
  text-align: center;
  margin-top: 20px; 
}

h2 {
  font-size: 24px;
}


.description-box p {
  font-size: 18px;
  max-width: 600px;
  margin: 20px auto;
}

#left-image {
  background-image: url("imagem 3.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 50%;
  height: 100%; 
  left: 0;
  top: 0;
  z-index: -1;
}

#right-image {
  background-image: url("imagem 2.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 50%; 
  height: 100%; 
  right: 0;
  top: 0;
  z-index: -1;
}
